<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Check-In</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <div id="welcome" style="text-align: center; margin-top: 3em">
      <h1>Welcome to the <%= eventName %> check-in</h1>
      <!-- Button to open modal -->
      <button id="open-modal" class="button">Check-in</button>
      <!-- button navigate to welcome -->
      <button id="home" name="btn-home" class="button">Back to Welcome</button>
      <div id="checked-in" style="text-align: center; margin-top: 3em">
        <h1>Checked-in Users</h1>
        <table
          id="checked-in-table"
          class="styled-table"
          style="text-align: center; margin: 3em"
        >
          <thead style="text-align: center; margin: 3em">
            <tr style="text-align: center; margin: 3em">
              <th>Name</th>
              <th>Checked-in At</th>
            </tr>
          </thead>
          <tbody class="styled-table" id="checked-in-users">
            <!-- Checked-in users will be dynamically added here -->
          </tbody>
        </table>
        <!-- button navigate to welcome -->
        <button id="home" name="btn-home" class="button">
          Back to Welcome
        </button>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h1><%= eventName %> Check-In</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Signature</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  id="name"
                  type="text"
                  autocomplete="off"
                  placeholder="Enter name here"
                />
              </td>
              <td>
                <canvas id="signature-pad" class="signature-pad"></canvas>
              </td>
              <td>
                <button class="button" id="clear-signature">Clear</button>
                <button class="button" id="save-signature">Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--end modal -->
  </body>
</html>
