<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div class="header-container">
      <h1>"Hello, the app you're trying to access has moved.</h1>
      <p id="countdown">Redirecting you in 3 seconds...</p>
    </div>
    <div class="container">
      <h1>Or click on link below to go immediately.</h1>
      <a href="<%= url %>">Go</a>
    </div>
  </body>
</html>

<script>
  console.log("url is:", "<%= url %>");
  document.addEventListener("DOMContentLoaded", function () {
    let countdown = document.getElementById("countdown");
    let seconds = 3;
    let redirectUrl = "<%= url %>";
    let interval = setInterval(() => {
      seconds--;
      countdown.innerText = `Redirecting you in ${seconds} seconds...`;
      if (seconds === 0) {
        clearInterval(interval);
        window.location.href = redirectUrl;
      }
    }, 1000);
  });
</script>
